nav{
    margin: left 0;
    display: flex ;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
}
.mobile-svg{
    margin-left: 2vw;
    cursor: pointer;
}

.searchUser-cont{
    margin-right: 2vw;
    display: flex;
    gap: 4vw;
}
.hidden{
    display: none;
}
