@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    text-align: center;    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    margin: 2rem  0 0 0 ;
}
.red-line{
    position: relative;
    top: -10px;
}
